#he {
 color: rgb(7, 108, 250);

}
#li{
    color: blue;
}
.button{
    display: inline-block;
   text-align: center;
     background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
    
}

.page-container {
    max-width: auto;
    height: auto;
    color: black;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
            margin: 25px ;
        padding: 25px;
        margin-bottom: 25px;
        margin-left: 80px;
         margin-right:80px ;
        
}
div {
    display: block;
    unicode-bidi: isolate;
}
.admissions-table{
    border-color: rgb(7, 13, 13);
    background-color: #ddff7f;
}


@media (max-width: 768px) {
    .hero-section {
        height: 250px;
    }
}
.hero-section {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    margin-bottom: 40px;
    border-radius: 8px;
}

div {
    display: block;
    unicode-bidi: isolate;
}
    .hero-btn {
        padding: 10px 20px;
        font-size: 1em;
    }

.hero-btn {
    background-color: #28a745;
    font-size: 1.2em;
    padding: 15px 30px;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.hero-overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    width: 90%;
}
.hero-banner-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
    filter: brightness(60%);
}