.footer {
  background-color: #434a52; /* Match header background */
  color: white;
  padding: 15px 20px;
  text-align: center;
  font-size: 0.9em;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.141); 
  flex-shrink: 0; 
  margin-top: auto; 
}
footer {
    display: block;
    unicode-bidi: isolate;
}